.align-table{
    display: flex;
    flex-direction: column;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
.align{
    align-self: flex-start;
}
.align-button{
    justify-self: stretch;
}
.link{
    color: white;
}
.align-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}